<section id="home">
  <div class="header">
    <div class="name">Alessandra Davila</div>
    <div class="title">Front-end Web Developer</div>
  </div>

  <div id="menu">
    <ul>
      <li class="story"><a ui-sref-active="active" ui-sref="about">My Story</a></li>
      <li class="projects"><a ui-sref-active="active" ui-sref="projects">Projects</a></li>
      <!-- <li class="code"><a ui-sref-active="active" ui-sref="code">Code Snippets</a></li> -->
      <li class="contact"><a ui-sref-active="active" ui-sref="contact">Contact Me</a></li>
    </ul>
  </div>
</section>