<div id="nav">
  <ul>
    <li class="home"><a ui-sref-active="active" ui-sref="home">Home</a></li>
    <li class="story"><a ui-sref-active="active" ui-sref="about">My Story</a></li>
    <li class="projects"><a ui-sref-active="active" ui-sref="projects">Projects</a></li>
    <!-- <li class="code"><a ui-sref-active="active" ui-sref="code">Code Snippets</a></li> -->
    <li class="contact"><a ui-sref-active="active" ui-sref="contact">Contact Me</a></li>
  </ul>
  <a class="exit" ui-sref="home">
    <!-- <i class="sidebar icon"></i> -->
    &times;
  </a>
</div>

<section id="projects">
  <div class="name">Projects</div>

    <!-- <div class="project-detail">
      <h3>IBM Travel</h3>
      <div class="project">
        <div class="technologies">
          <span>AngularJS</span><span>Node.js</span><span>Javascript</span><span>Sass</span><span>Angular Router</span><span>Express</span>
        </div>
      </div>
      <p>
        A 7 week incubator project focusing on imporving the end-to-end business travel and expence reporting experience.
        Identified pain points of the exisiting travel and expense expereince and focused on creating a better solution
        that puts the booking and expensing tools in one centralized location.
        <br><strong style="color: #F45B69;"> ** Project coming soon**</strong>
      </p>
    </div> -->

    <div class="project-detail">
      <h3>IBM Preboarding</h3>
      <div class="project">
        <img src="/assets/ibm_preboarding.png" alt="IBM Preboarding">
        <div class="technologies">
          <span>AngularJS</span><span>Node.js</span><span>Javascript</span><span>Sass</span><span>Angular Router</span><span>JSON</span>
        </div>
      </div>
      <p>
        Project involving a team of 15 inluding UX designers, visiual designers, design research, and developers.
        We were given a problem to solve: "Make the preboarding experience for all new-hires better."
        We designed and protyped a website for a better user-experience for new-hires, while also reducing the
        amount of redudant emails sent to the Talent Team. Built using angular ui-routes and directives.
        <br><strong style="color: #F45B69;"> ** Project link unavailable; for more info please contact me **</strong>
      </p>
    </div>

    <div class="project-detail">
      <h3>Shopping Cart</h3>
      <div class="project">
        <a target="_blank" href="https://studentloangenius-vqdiqvqbtx.now.sh"><img src="/assets/slg_checkout.png" alt="slg Shopping Cart"></a>
        <div class="technologies">
          <span>AngularJS</span><span>Javascript</span><span>Express</span>
          <a target="_blank" href="https://studentloangenius-vqdiqvqbtx.now.sh"><span class="view-project">View Project</span></a>
        </div>
      </div>
      <p>
        A mini project using angular to build a small e-commerce site.
        Products are added to the cart and totals are calculated accordingly plus promos.
      </p>
      <p>Source code:<a href="https://github.com/aledavila/slg-checkout" target="_blank">https://github.com/aledavila/slg-checkout</a></p>
    </div>

    <div class="project-detail">
      <h3>Primaries 2016</h3>
      <div class="project">
        <a target="_blank" href=" https://primaries2016.herokuapp.com/"><img src="/assets/primaries.png" alt="Primaries 2016"></a>
        <div class="technologies">
          <span>Ruby</span><span>Javascript</span><span>jQuery</span><span>ChartJS</span><span>Huffington Post API</span><span>Raphale.js</span>
          <a target="_blank" href=" https://primaries2016.herokuapp.com/"><span class="view-project">View Project</span></a>
        </div>
      </div>
      <p>
        Final project to test data presentation.
        A web app that shows the 2016 presidential primaries delegate vote results by state, and the current poll data by state for each cadidate.
        Uses the Huffington Post API to get total data from all major polls. Displayed using ChartJS.
        50% completed.
      </p>
      <p>Source code:<a href="https://github.com/aledavila/primaries-2016" target="_blank">https://github.com/aledavila/primaries-2016</a></p>
    </div>

    <div class="project-detail">
      <h3>Pantry</h3>
      <div class="project">
        <a target="_blank" href="http://pantrydotio.herokuapp.com/"><img src="/assets/pantry.png" alt="Pantry"></a>
        <div class="technologies">
          <span>Ruby</span><span>Rails</span><span>Active Record</span><span>jQuery</span><span>Javascript</span><span>PostgreSQL</span><span>Device (User Auth)</span>
          <a target="_blank" href="http://pantrydotio.herokuapp.com/"><span class="view-project">View Project</span></a>
        </div>
      </div>
      <p>
        Pantry is a Rails app done as a group project built for a class assignment.
        I co-wrote the JavaScript and UI for all interactive features on the home page.
        I used device, a rails user auth, to set up user authentication.
        Drafting ERDs and setting up routes and controllers were team efforts.
      </p>
      <p>Source code:<a href="https://github.com/aledavila/pantry.io" target="_blank">https://github.com/aledavila/pantry.io</a></p>
    </div>

    <h3 style="margin-bottom: 3%;">For more projects please visit <a href="https://github.com/aledavila" target="_blank" style="color: #F45B69;">Github.</a></h3>

</section>
