<div class="nav">
  <ul>
    <li><a ui-sref-active="active" ui-sref="home">Home</a></li>
    <li><a ui-sref-active="active" ui-sref="about">My Story</a></li>
    <li><a ui-sref-active="active" ui-sref="projects">Projects</a></li>
    <!-- <li class="code"><a ui-sref-active="active" ui-sref="code">Code Snippets</a></li> -->
    <li><a ui-sref-active="active" ui-sref="resume">Resume</a></li>
  </ul>
  <a class="exit" ui-sref="home">
    <svg class="logo" xmlns="http://www.w3.org/2000/svg" viewbox="-1874 192 934 934">
      <line class="st0" x1="469.7" y1="302" x2="469.7" y2="876"/>
      <line class="st0" x1="182.4" y1="576.8" x2="469.7" y2="576.8"/>
      <path d="M-1713.2 647.1h293.7V352.8C-1579 359.2-1707.2 487.5-1713.2 647.1z"/>
      <path d="M-1392.5 352.9v294.3 27 291c162.5-7.6 292-141.7 292-306.1S-1230 360.4-1392.5 352.9z"/>
      <path d="M-1407 192c-257.9 0-467 209.1-467 467s209.1 467 467 467 467-209.1 467-467S-1149.1 192-1407 192zM-1392.5 992.2v0.1h-2.6c-3.9 0.1-7.9 0.2-11.9 0.2s-7.9-0.1-11.9-0.2h-0.6v0 -27V674.1h-293.6c3.9 79.3 37.8 150.6 90.7 202.9l-19.1 19.1c-57.8-57.1-94.8-135.2-98.7-222h-0.4v-27h0.2c6.3-178.7 153.1-321.6 333.3-321.6 184.2 0 333.5 149.3 333.5 333.5C-1073.5 838.3-1215 984.6-1392.5 992.2z"/>
    </svg>
  </a>
</div>


<section class="resume">
  <div class="name">Resume</div>
  <div class="content experience">
    <hr data-content="Experience">
    <h4>Front-End Developer</h4>
    <h5>IBM Design | Austin, TX | June 2016 - Present</h5>
    <ul>
      <li>Collaborated with UX designers, design researchers, and visual designers to develop an understanding of all design disciplines</li>
      <li>Analyzed research of current business travel at IBM, and protyped and conducted usability testing to create a better solution for the end-to-end experience of internal business travel</li>
    </ul>
    <h4>Account Manager</h4>
    <h5>Constructora Aguilar Silva | Tampico, MX | May 2015 - Sep 2015</h5>
    <ul>
      <li>Managed an oil and gas company account, PEMEX, at a small contracting firm</li>
      <li>Administered contracts and invoices, conducted reports in order to present production performance to client</li>
    </ul>
    <h4>Legal Consulting Intern</h4>
    <h5>Carlos H Cisneros | Brownsville, TX | May 2014 - Sep 2014</h5>
    <ul>
      <li>Conducted extensive research in order to create and present civil law suits to the county court</li>
      <li>Prepared, edited, and proofread narrative reports and presentations of observations</li>
    </ul>
    <h4>Logistics Specialist</h4>
    <h5>CD Forwarding | Brownsville, TX | Sep 2010 - May 2011</h5>
    <ul>
      <li>Handled shipments and transportation arrangements for imports and exports with a daily net wroth of $20,000</li>
      <li>Prepared export documentation, monitoring record keeping, and auditing</li>
    </ul>
  </div>
  <div class="content skills">
    <hr data-content="Skills">
    <ul id="techlist">
      <li>JavaScript</li>
      <i class="circle icon"></i>
      <li>Ruby</li>
      <i class="circle icon"></i>
      <li>Rails</li>
      <i class="circle icon"></i>
      <li>jQuery</li>
      <i class="circle icon"></i>
      <li>MEAN stack</li>
      <i class="circle icon"></i>
      <li>Bootstrap</li>
      <i class="circle icon"></i>
      <li>Semantic-UI</li>
      <i class="circle icon"></i>
      <li>Postgres</li>
      <i class="circle icon"></i>
      <li>SQL</li>
      <i class="circle icon"></i>
      <li>Sass</li>
      <i class="circle icon"></i>
      <li>Git</li>
      <i class="circle icon"></i>
      <li>HTML</li>
      <i class="circle icon"></i>
      <li>CSS</li>
      <i class="circle icon"></i>
      <li>Heroku</li>
      <i class="circle icon"></i>
      <li>AWS</li>
      <i class="circle icon"></i>
      <li>InDesign</li>
    </ul>
  </div>
  <div class="content edu">
    <hr data-content="Education">
    <h4>General Assembly <span>Austin, TX</span></h4>
    <h5>Web Development Program</h5>
    <h4>University of Texas at Austin</h4>
    <h5>Bachelor of Arts - Government <span>Minor Business Admin. & Economics</span></h5>
  </div>
  <div class="contact">
    <h4>davilaaguilar23[at]gmail.com</h4>
    <a href="/assets/Resume_Davila.pdf" target="_blank">Resume <i class="download icon"></i></a>
  </div>
</section>
