@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&La+Belle+Aurore&display=swap');

/* .project-card {
overflow: hidden;
}

.project-card img {
transition: all .3s ease;
}

@media (hover: hover){
.project-card img:hover {
    transform: scale(1.1);
}
} */

.project-title {
  font-family: var(--font-ibm-plex-serif);
  font-weight: normal;
}

.project-desc,
.tech-stack {
  font-family: 'Mono-light';
}

.project--container {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project--container:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.project--container a:hover {
  color: var(--heading) !important;
}
