@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
@import '../src/components/header/header.css';
@import '../src/components/projects/project-card/project-card.css';
@import '../src/components/about/about.css';


@font-face {
  font-family: 'Mono';
  src: url('../public/fonts/MonoRegular.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MSBee-Light';
  src: url('../public/fonts/MSBee-Light.woff2');
  font-weight: normal;
  font-style: normal;
}

/* @layer utilities {
  :root {
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #edf2f7;
    --color-text-primary: #2d3748;
    --color-text-secondary: #4a5568;
    --color-text-accent: #2b6cb0;
  }

  .dark {
    --color-bg-primary: #171717;
    --color-bg-secondary: #283141;
    --color-text-primary: #f7fafc;
    --color-text-secondary: #a4a4a4;
    --color-border: #b4b4b4;
  }
} */

html,
body {
  font-family: 'MSBee-Light', sans-serif;
  padding: 0;
  margin: 0;
  background: rgb(55,55,153);
  /* background: radial-gradient(circle, rgba(55,55,153,1) 0%, rgba(123,156,227,1) 0%, rgba(55,55,153,1) 100%); */
  /* color: #222222; */
  background-color: black;
  color: whitesmoke;
}

h1,
.home {
  font-family: 'Mono' , monospace;
  background: linear-gradient(90.13deg,#d1aad7 .11%,#c88bc4 25.06%,#7b8fdd 50%,#86bff2 74.8%,#bbdef2 99.76%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}