@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Montserrat:wght@200;300&display=swap');
@import '../src/components/header/header.css';
@import '../src/components/nav/nav.css';
@import '../src/components/projects/project-card/project-card.css';
@import '../src/components/about/about.css';
@import '../src/components/darkMode/darkMode.css';

@font-face {
  font-family: 'Mono';
  src: url('../public/fonts/MonoRegular.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mono-light';
  src: url('../public/fonts/MonoLight.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MSBee-Light';
  src: url('../public/fonts/MSBee-Light.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Achiko';
  src: url('../public/fonts/achiko.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-background: #f9f9f9;
  --foreground: #080808;
  --heading: #FD1E1F;
  --alt-1: #0000cc;
  --alt-2: #80e5ff;
  --accent: #3db2ff;
  --accent-light: #ff6b6b;
  --moss: #678e4b;
  --aegean: #184F63;
  --apple: #A3C489;
  --vanilla: #F7E4CE;
}

html,
body {
  font-family: 'MSBee-Light', sans-serif;
  padding: 0;
  margin: 0;
  background-color: var(--color-background);
  color: var(--foreground);
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.playful {
  font-family: var(--font-gaegu);
}

.elegant {
  font-family: var(--font-ibm-plex-serif);
}

.achiko {
  font-family: 'Achiko', serif;
}

h2,
.home {
  font-family: var(--font-ibm-plex-serif);
  font-weight: 300;
  color: var(--heading);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



/* THEME */
.project--container {
  background-color: var(--accent-light);
}

.dark {
  --color-background: #184F63;
  --color-bg-projects: var(--aegean);
  --color-text: var(--vanilla);
  --foreground: var(--vanilla);
  --heading: var(--accent-light);
}

.dark .text-primary {
  color: var(--color-text);
}

.dark .project--container {
  background-color: #043344;
}